@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {font-family: "Bellefair", serif; text-align: center; overflow-wrap: break-word; font-weight: 400; font-size: 1.5rem;}
html {padding: 0 0 0 0;}
body {overflow-x: hidden; padding: 0 0 0 0; background-color: #FCFCFC; color: #1D1A05; margin: 0 0 0 0;} 

div {padding: 0 0 0 0; margin: 0 0 0 0; border-style: none;} 

.nav-bar {position: sticky; top: 0; z-index: 1000; background-color: #FCFCFC; }
.nav-bar p {text-align: left; margin-top: 0px; margin-bottom: 0px;}

.landing-section {margin-bottom: 50px; width: 100vw; height: 35vh; background-image: url("assets/asset-artwork-37.jpg"); background-size: 100%; color: #FCFCFC; overflow-x: hidden; border: none; display: flex; justify-content: center;}
.landing-section h1 {font-size: 1.5em; text-align: center;}

.content-section {overflow-x: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center;}

@media (max-width: 768px) {
  .image-card {width: 90vw;}
  .image-card img {width: 90vw; object-fit: contain; margin: 0 0 0 0;}
  .image-card h1 {padding: 0 0 0 0; margin: 0 0 0 0; text-align: center; margin-top: -15px;}
}

@media (min-width: 769px) {
  .landing-section h1 {margin-top: 100px;}
  .content-section {display: flex; flex-direction: row; overflow-y: hidden;}
  .image-card {width: 30vw;}
  .image-card img {width: 30vw; object-fit: cover;}
  .image-card h1 {padding: 0 0 0 0; margin: 0 0 0 0; text-align: left;}
}

